nav{
    background-color: #D8D8D8;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.Container-NavText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.Container-NavIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 25px;
}