nav {
    background-color: rgba(255, 255, 255, 0.5);
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center !important;
    position: fixed;
    width: 100%;
    z-index: 500;
    backdrop-filter: blur(10px);
}

.Conteiner-Nav {
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.Container-NavText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
}

.Container-NavIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 25px;
}

@media (max-width: 1435px) {
    .Container-NavText{
        display: none;
    }
    
}

@media (max-width: 600px) {
    #display-none{
        display: none !important;
    }

    .row-reverse{
        flex-direction: row-reverse;
    }
}