.Title-ImageDescription{
    font-size: 20px;
    font-weight: 300;
    line-height: 38px;
    color: #000000;
    padding-bottom: 20px;
    letter-spacing: 1.5px;
}

@media (max-width: 1300px){
    .Title-ImageDescription{
        font-size: 18px;
        line-height: 33px;
        text-align: start !important;
    }
}