.text-ThemeMenuText{
    font-size: 20px;
    line-height: 38px;
    font-weight: 400;
    text-decoration: none;
    position: relative;
    color: #000000;
    margin: 2px 0px;
    width: 100%;
}

.text-ThemeMenuText:hover{
    cursor: pointer;
}

.text-ThemeMenuText::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: -300px;
    width: 0; /* Começa sem largura */
    height: 100%; /* Altura da linha */
    background-color: #BBDCF5; /* Cor da linha */
    transition: width 0.3s ease;
    z-index: -1; /* Transição suave da largura */
}

.text-ThemeMenuText:hover::after {
    width: calc(100% + 300px); /* Aumenta a largura para cobrir o contêiner */
}
